:root { 
    --main-color: #F0C693;
    --border-color: #484848;
}

body { 
    overflow-x: hidden;
    background: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* 1️⃣ GENERAL */

@media screen and (min-width: 1200px) {
    .main { 
        display: flex;
        flex-direction: column;
    }

    .container { 
        display: flex;
        flex-direction: column;
    }

    .corner__button { 
        position: relative;
    }

    .corner__button:hover {
        transform: scale(1.01); 
    }

    .button__corner-1,
    .button__corner-2,
    .button__corner-3,
    .button__corner-4 { 
        transition: all 0.3s ease; 
    }

    .button__corner-1 { 
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid var(--border-color);
        border-right: none;
        border-bottom: none;
        top: -9px;
        left: -9px;
    }

    .button__corner-2 { 
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid var(--border-color);
        border-left: none;
        border-bottom: none;
        top: -9px;
        right: -9px;
    }

    .button__corner-3 { 
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid var(--border-color);
        border-top: none;
        border-left: none;
        bottom: -9px;
        right: -9px;
    }

    .button__corner-4 { 
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid var(--border-color);
        border-right: none;
        border-top: none;
        bottom: -9px;
        left: -9px;
    }

    .corner__button:hover .button__corner-1 {
        animation: corner-bounce-1 0.4s ease forwards;
    }
    
    .corner__button:hover .button__corner-2 {
        animation: corner-bounce-2 0.4s ease forwards;
    }
    
    .corner__button:hover .button__corner-3 {
        animation: corner-bounce-3 0.4s ease forwards;
    }
    
    .corner__button:hover .button__corner-4 {
        animation: corner-bounce-4 0.4s ease forwards;
    }
    
    /* Анимации для каждого уголка */
    @keyframes corner-bounce-1 {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(-5px, -5px); /* Влево вверх */
        }
        100% {
            transform: translate(0, 0);
        }
    }
    
    @keyframes corner-bounce-2 {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(5px, -5px); /* Вправо вверх */
        }
        100% {
            transform: translate(0, 0);
        }
    }
    
    @keyframes corner-bounce-3 {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(5px, 5px); /* Вправо вниз */
        }
        100% {
            transform: translate(0, 0);
        }
    }
    
    @keyframes corner-bounce-4 {
        0% {
            transform: translate(0, 0);
        }
        50% {
            transform: translate(-5px, 5px); /* Влево вниз */
        }
        100% {
            transform: translate(0, 0);
        }
    }
}

/* 2️⃣ HEADER */

@media screen and (min-width: 1200px) {
    .header { 
        position: fixed;
        top: 0;
        left: 0;
        background: transparent;
        width: 100%;
        z-index: 999;
        height: 75px;

    }

    .header__container { 
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 65px;
        padding: 0px 45px;
        height: 100%;
    }

    .header__list { 
        display: flex;
        gap: calc(100vw / 19.2);
        align-items: center;
    }

    .header__list li a { 
        color: #fff;
        font-family: "Inter";
        font-size: 21px;
        font-weight: 800;
        transition: all ease 0.3s;
        position: relative;
    }

    .header__list li a:hover { 
        color: var(--main-color);
    }

    .header__list li a::after { 
        content: "";
        position: absolute;
        bottom: -2px;
        left: -2px;
        height: 1px;
        width: calc(100% + 4px);
        width: 0px;
        background: var(--main-color);
        z-index: 999;
        transition: all ease 0.3s;
    }

    .header__list li a:hover::after { 
        width: calc(100% + 4px);
    }

    .header__devider { 
        width: 1px;
        height: 40px;
        background-color: #fff;

    }

    .header__links { 
        display: flex;
        gap: calc(100vw / 42);
        align-items: center;
    }
}



/* 3️⃣ WELCOME */
@media screen and (min-width: 1200px) {
    .welcome__container { 
        height: calc(834px);
        width: 100%;
        background-image: url('../../public/img/welcome.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 130px 0px 0px 140px;
        margin: 0px 0px 266px 0px;
    }

    .welcome__container h1 { 
        font-size: 65px;
        color: #000;
        font-family: "Raleway";
        font-weight: 700;
    }

    .welcome__subtitle { 
        font-size:  21px;
        color: #141414;
        padding: 20px 0px 0px 0px;
    }

    .welcome__buttons { 
        display: flex;
        gap: 40px;
        margin-top: 40px;
    }

    .welcome__button-type1 { 
        position: relative;
        font-size: 21px;
        font-weight: 500;
        font-family: "Raleway";
        padding: 14px 25px;
        background: var(--main-color);
        color: #fff;
        display: inline-block;
        border: none;
        cursor: pointer;
    }

    .welcome__button-type2 { 
        position: relative;
        font-size: 21px;
        font-weight: 500;
        font-family: "Raleway";
        padding: 14px 25px;
        background: #3B3B3B;
        color: #fff;
        display: inline-block;
        border: none;
        cursor: pointer;
    }

    .welcome__footer { 
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 266px;
        transform: translateY(100%);
        background: #565656;
        padding: 0px calc(100vw / 38.4);
        display: flex;
        gap: calc(100vw / 16);
        align-items: center;
    }

    .welcome__footer-item { 
        display: flex;
        gap: 15px;
        align-items: flex-end;
        position: relative;
    }

    .welcome__footer-item:not(:last-child)::after {
        content: "";
        position: absolute;
        right: calc(-100vw / 32); 
        top: 50%;
        transform: translateY(-50%);
        height: 90px;
        width: 1px;
        background-color: #DADADA;
    }

    .welcome__footer-item p { 
        position: relative;
        color: #DADADA;
        font-size: calc(100vw / 80);
        font-weight: 600;
        padding: 0px 0px 10px 0px;
        text-wrap: nowrap;
    }

    .welcome__footer-item p::after { 
        content: "";
        position: absolute;
        top: -13px;
        left: 0px;
        height: 2px;
        width: 24px;
        background: #F0C693;
    }
}

/*  4️⃣ EXPIRIENCE  */

@media screen and (min-width: 1200px) {
    .experience__container { 
        padding: 200px 30px 120px 30px;
        flex-direction: row;
        gap: 40px;
    }

    .experience__wrapper { 
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: calc(100vw / 1.6991);
    }

    .experience__title-wrapper { 
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 396px;
        background: #6E6E6E;
        width: 100%;
        position: relative;

    }

    .experience__title-img { 
        position: absolute;
        top: 40px;
        right: 50px;
        cursor: pointer;
    }

    .experience__title-wrapper h2 { 
        font-size: 40px;
        font-weight: 700;
        color: #EBEBEB;
        
    }

    .experience__title-disc { 
        font-size: 21px;
        font-weight: 400;
        color: #E0E0E0;
        max-width: 880px;

    }

    .experience__title-disc span { 
        color: #F0C693;
        font-weight: 600;
    }

    .experience__house { 
        background: #B2B2B2;
        height: 414px;
        width: 100%;
        position: relative;
    }

    .experience__house-image { 
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .experience__house-image img { 
        width: 100%;
    }

    .experience__block { 
        width: 100%;
        max-width: calc(100vw / 2.8276);
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .experience__block-title { 
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 396px;
        position: relative;
    }

    .experience__block-text { 
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .experience__block-text h3 { 
        font-size: 28px;
        color: #0d0d0d;
        font-weight: 700;
        font-family: "Raleway";
    }

    .experience__block-text p  { 
        font-size: 19px;
        font-weight: 400;
        max-width: 560px;
        color: #343434;
    }

    .experience__block-text span { 
        font-weight: 600;
        color: #F0C693;
    }

    .experience__button { 
        color: #fff;
        background: #F0C693;
        width: 209px;
        height: 53px;
        transform: translateX(10px);
        font-size: 21px;
        font-weight: 500;
    }

    /* ----------------------------------------------- */

    .block__corner-1, .block__corner-2,
    .block__corner-3, .block__corner-4 { 
        position: absolute;
        border: 1px solid #DCDCDC;
        width: 60px;
        height: 60px;
        z-index: 9;
    }

    .block__corner-1 { 
        border-bottom: none;
        border-right: none;
        top: 0px;
        left: 0px;
    }

    .block__corner-2 { 
        border-left: none;
        border-bottom: none;
        top: 0px;
        right: 0px;
    }

    .block__corner-3 { 
        border-top: none;
        border-left: none;
        bottom: 0px;
        right: 0px;
    }

    .block__corner-4 { 
        border-right: none;
        border-top: none;
        bottom: 0px;
        left: 0px;
    }

    /* ------------------------------------------------------- */

    .experience__block-image { 
        position: absolute;
        bottom: 25px;
        right: 25px;
        cursor: pointer;
        z-index: 50;

    }

    .experience__block-footer { 
        height: 100%;
        max-height: 414px;
    }

    .experience__block-footer img { 
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
